@import url(http://fonts.googleapis.com/css?family=Cantora+One);

body{
    background-color: #EFEFEF;
    font-family: 'Cantora One', sans-serif;
}

.helloworld{
    position: fixed;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    height: 130px;
    top: 50px;
    background-color: #FFF; 
    border: 1px solid #CCC;
    padding: 20px;
    line-height: 80px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.helloworld:hover{
    background-color: #FAFAFA;
}

.helloworld img, .helloworld h1{
    float: left;
}

.helloworld img{
    margin-right: 80px;
}